kagglehub
numpy
pandas
matplotlib
seaborn
python-dotenv
langchain-community
langchain-openai
langchain-chroma
transformers
gradio

# for notebook
ipykernel
ipywidgets

# for development
-r dev_requirements.txt