kagglehub
numpy
scipy
pandas
matplotlib
seaborn
scikit-learn
python-dotenv
langchain-community
langchain-openai
langchain-chroma
transformers
gradio

torch
torchvision

# for notebook
ipykernel
ipywidgets

# for development
-r dev_requirements.txt